<section class="container-fluid home-banner" style="background-image: url('assets/images/banner1.jpg');">

  <div class="custom-carousel-primary">
    <owl-carousel-o #owlCar [options]="carouselOptionsPrimary">
      <ng-template carouselSlide *ngFor="let category of categories.slice(0,7)">
        <img class="scrolling-image image-primary" (click)="onClickImage()" src="{{category.strCategoryThumb}}" alt="{{category.strCategory}}">
      </ng-template>
    </owl-carousel-o>
  </div>

  <div class="custom-carousel-secondary" style="">
    <owl-carousel-o #owlCar [options]="carouselOptionsSecondary">
      <ng-template carouselSlide *ngFor="let category of categories.slice(7,14)">
        <img class="scrolling-image image-primary" (click)="onClickImage()" src="{{category.strCategoryThumb}}" alt="{{category.strCategory}}">
      </ng-template>
    </owl-carousel-o>
  </div>
  <div class="container">
    <div class="row">
      <div class="col-md-4" *ngFor="let meal of randomMeal">
        <img class="img-fluid rounded-3" (click)="onClickImage()" src="{{meal}}">
      </div>
    </div>
  </div>
</section>












