<!--&lt;!&ndash; NG-ZORRO &ndash;&gt;-->
<!--<a href="https://github.com/NG-ZORRO/ng-zorro-antd" target="_blank" style="display: flex;align-items: center;justify-content: center;height: 100%;width: 100%;">-->
<!--  <img height="300" src="https://img.alicdn.com/tfs/TB1X.qJJgHqK1RjSZFgXXa7JXXa-89-131.svg">-->
<!--</a>-->


<!--<nz-carousel class="custom-carousel" nzAutoPlay   [nzDots]="false" [nzEnableSwipe]="false" [nzEffect]="effect" [nzLoop]="true">-->
<!--  <div nz-carousel-content *ngFor="let index of array">-->
<!--    <div class="row">-->
<!--      <div class="col-2 m-2 ">-->
<!--        <img style="background: #dc3545" src="assets/images/16-express.png" alt="">-->
<!--      </div>-->
<!--      <div class="col-2 m-2">-->
<!--        <img style="background: #dc3545" src="assets/images/16-express.png" alt="">-->
<!--      </div>-->
<!--      <div class="col-2 m-2">-->
<!--        <img style="background: #dc3545" src="assets/images/16-express.png" alt="">-->
<!--      </div>-->
<!--      <div class="col-2 m-2">-->
<!--        <img style="background: #dc3545" src="assets/images/16-express.png" alt="">-->
<!--      </div>-->
<!--      <div class="col-2 m-2">-->
<!--        <img style="background: #dc3545" src="assets/images/16-express.png" alt="">-->
<!--      </div>-->
<!--      <div class="col-2 m-2">-->
<!--        <img style="background: #dc3545" src="assets/images/16-express.png" alt="">-->
<!--      </div>-->
<!--    </div>-->


<!--  </div>-->
<!--</nz-carousel>-->

<section class="container-fluid home-banner" style="background-image: url('/assets/images/banner1.jpg');">

  <div class="custom-carousel-primary">
    <owl-carousel-o #owlCar [options]="customOptions">
      <ng-template carouselSlide class="">
        <img class="scrolling-image image-primary" src="/assets/images/pizza.jpg" alt="pizza">
      </ng-template>
      <ng-template carouselSlide>
        <img class="scrolling-image image-secondary" src="/assets/images/pokebBall.jpg" alt="bowl">
      </ng-template>
      <ng-template carouselSlide>
        <img class="scrolling-image image-primary" src="/assets/images/pizza.jpg" alt="pizza">
      </ng-template>
      <ng-template carouselSlide>
        <img class="scrolling-image image-secondary" src="/assets/images/pokebBall.jpg" alt="bowl">
      </ng-template>
    </owl-carousel-o>
  </div>

  <div class="custom-carousel-secondary" style="">
    <owl-carousel-o #owlCar [options]="customOptions">
      <ng-template carouselSlide class="">
        <img class="scrolling-image image-primary" src="/assets/images/pizza.jpg" alt="pizza">
      </ng-template>
      <ng-template carouselSlide>
        <img class="scrolling-image image-secondary" src="/assets/images/pokebBall.jpg" alt="bowl">
      </ng-template>
      <ng-template carouselSlide>
        <img class="scrolling-image image-primary" src="/assets/images/pizza.jpg" alt="pizza">
      </ng-template>
      <ng-template carouselSlide>
        <img class="scrolling-image image-secondary" src="/assets/images/pokebBall.jpg" alt="bowl">
      </ng-template>
    </owl-carousel-o>
  </div>


  <div class="container">
    <div class="row">
      <div class="col-md-4">
        <img class="img-fluid"  src="/assets/images/pokebBall.jpg" alt="bowl">
      </div>
      <div class="col-md-4">
        <img class="img-fluid" src="/assets/images/pokebBall.jpg" alt="bowl">
      </div>
      <div class="col-md-4">
        <img class="img-fluid" src="/assets/images/pokebBall.jpg" alt="bowl">
      </div>
    </div>
  </div>
</section>

<!--<div class="container">-->
<!--  <div class="row">-->
<!--    <div class="col-md-4">-->
<!--      <img class="img-fluid"  src="/assets/images/pokebBall.jpg" alt="bowl">-->
<!--    </div>-->
<!--    <div class="col-md-4">-->
<!--      <img class="img-fluid" src="/assets/images/pokebBall.jpg" alt="bowl">-->
<!--    </div>-->
<!--    <div class="col-md-4">-->
<!--      <img class="img-fluid" src="/assets/images/pokebBall.jpg" alt="bowl">-->
<!--    </div>-->
<!--  </div>-->
<!--</div>-->












