<section class="screen">
  <div class="row">
    <div class="col-sm-12 col-md-4 col-xl-3">
      <ul nz-menu [nzTheme]='"dark"' [nzMode]="'vertical'"
          *ngFor="let category of categories.slice(0,3); let categoryIndex = index">
        <li nz-submenu nzTitle="{{category.strCategory}}">
          <ul *ngFor=" let item of switchItems(categoryIndex)">
            <!--            <li [routerLink]="['/menu',category.strCategory, item.strMeal]" nz-menu-item>{{item.strMeal}}</li>-->
            <li (click)="onClickItem(category.strCategory,item.strMeal)" nz-menu-item>{{item.strMeal}}</li>
          </ul>
        </li>
      </ul>
    </div>
    <div class="col-md-8 col-sm-12  col-xl-8">
      <div class="container">
        <router-outlet></router-outlet>
      </div>
    </div>
  </div>
</section>
